@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");

:root {
  --green: #00a040;
  --blue-light: #0d768e;
  --blue-dark: #072328;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

button:focus {
  outline: none;
}

.title {
  font-weight: 600;
  font-size: 64px;
  color: #ffffff;
}

@media (max-width: 600px) {
  .title {
    font-size: 28px;
  }
}

.inline-img {
  display: inline-block;
  height: 1em;
}

body {
  background-color: #00262e;
}

.container {
  width: 1128px;
  margin: 0 auto;
  max-width: 100%;
}

@media (max-width: 1136px) {
  .container {
    padding: 0 16px;
  }
}

.btn-green {
  height: 56px;
  min-height: fit-content;
  background-color: var(--green);
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 0 40px;
  font-size: 18px;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Header */
.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
}

.header--logo {
  max-width: 251px;
  flex: 1;
}

.header--logo img {
  width: 100%;
}

.header--actions {
  display: flex;
  justify-content: space-between;
}

.header--contact {
  font-size: 17px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.header--contact:hover {
  color: var(--green);
  transition: 0.15s linear;
}

.header--contact__margin-between {
  margin-right: 47px;
}

.header--contact .fa-mail__margin {
  font-size: 23px;
  margin-right: 15px;
}

.header--contact .fa-skype__margin {
  font-size: 23px;
  margin-right: 15px;
}

.header--contact .fa-phone__margin {
  font-size: 19px;
  margin-right: 15px;
}

.btn-login {
  height: 43px;
  padding: 0 25px;
  background-color: transparent;
  border: 1px solid #ffffff;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 8px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-nav {
  padding-top: 25px;
  padding-bottom: 18px;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid var(--green);
}

.header-nav--link {
  text-transform: uppercase;
  font-size: 14px;
  margin-right: 30px;
  color: #ffffff;
}

.header-nav--link:hover {
  color: var(--green);
  transition: 0.15s linear;
}

@media (max-width: 946px) {
  .header--contact__margin-between {
    margin-right: 20px;
  }
}

@media (max-width: 870px) {
  .header-main {
    align-items: flex-start;
    flex-direction: column;
  }

  .header--actions {
    width: 100%;
    justify-content: space-between;
  }
}

@media (max-width: 614px) {
  .header--actions {
    padding-top: 20px;
    flex-wrap: wrap;
  }

  .btn-login {
    margin-top: 20px;
    width: 100%;
  }
}

/* INTRO */
.intro {
  padding: 110px 0 130px 0;
}

.intro--body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro--sub-title {
  font-weight: 600;
  font-size: 32px;
  color: #ffffff;
  margin-bottom: 40px;
}

.intro--title {
  font-weight: 800;
  font-size: 72px;
  color: #ffffff;
  text-shadow: 1px 2px 16px rgba(0, 33, 21, 0.04);
}

.intro--image-block {
  flex: 1;
  margin-left: 40px;
}

.intro--image {
  width: 100%;
}

@media (max-width: 1012px) {
  .intro {
    padding: 32px 0 70px 0;
  }

  .intro--sub-title {
    font-size: 28px;
    margin-bottom: 40px;
  }

  .intro--title {
    font-size: 60px;
    margin-bottom: 20px;
  }
}

@media (max-width: 811px) {
  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .intro--body {
    flex-direction: column;
  }

  .intro--image-block {
    flex: 1;
    margin-left: 0;
  }

  .btn-green__intro {
    margin-top: 25px;
  }
}

@media (max-width: 500px) {
  .intro--sub-title {
    font-size: 20px;
    margin-bottom: 40px;
  }

  .intro--title {
    font-size: 40px;
  }

  .btn-green__intro {
    width: 100%;
  }
}

/* Reasons */

.reasons {
  padding: 130px 0;
}

.reasons-cards-wrapper {
  margin-top: 40px;
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}

.reasons-cards-wrapper::-webkit-scrollbar {
  display: none;
}

/* .reasons-cards-wrapper::before {
  content: "_";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  color: transparent;
  width: 10vw;
  background: linear-gradient(90deg, #00262e 0%, rgba(0, 38, 46, 0.1) 100%);
  z-index: 1;
}

.reasons-cards-wrapper::after {
  content: "_";
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  color: transparent;
  width: 10vw;
  background: linear-gradient(-90deg, #00262e 0%, rgba(0, 38, 46, 0.1) 100%);
  z-index: 1;
} */

.reasons-card {
  display: flex;
  flex-direction: column;
  height: 532px;
  min-width: 552px;
  border: 0.5px solid var(--blue-light);
  border-radius: 8px;
  margin-left: 24px;
}

.reasons-card__first {
  margin-left: calc((100vw - 1128px) / 2);
}
.reasons-card__last::after {
  /* margin-right: calc((100vw - 1128px) / 2); */
  content: "_";
  color: transparent;
  height: 0;
  position: relative;
  left: calc((100vw - 1128px) / 2);
}

.reasons-card--image-block {
  border-radius: 8px 8px 0 0;
  height: 266px;
  background-color: #cadee5;
  background-size: cover;
  background-position: center center;
}

.reasons-card--body {
  flex: 1;
  padding: 32px;
  display: flex;
  flex-direction: column;
}

.reasons-card--content {
  flex: 1;
  font-size: 24px;
  color: #ffffff;
}

.reasons--controls {
  position: relative;
  z-index: 5;
  top: -280px;
  display: flex;
  justify-content: space-between;
}

.reasons--arrow {
  position: relative;
  height: 48px;
  width: 48px;
  background-color: var(--green);
  color: #ffffff;
  border: none;
  font-size: 36px;
}

.reasons--arrow__left {
  left: -24px;
}

.reasons--arrow__right {
  right: -24px;
}

@media (max-width: 1196px) {
  .reasons-card {
    margin-left: calc((100vw - 550px));
  }

  .reasons-card__last::after {
    left: calc((100vw - 550px) / 2);
  }

  .reasons-card__first {
    margin-left: calc((100vw - 550px) / 2);
  }

  .reasons--arrow__left {
    left: -8px;
  }

  .reasons--arrow__right {
    right: -8px;
  }
}

@media (max-width: 600px) {
  .reasons-card {
    min-width: 90vw;
    margin-left: 5vw;
  }

  .reasons-card--content {
    font-size: 16px;
  }

  .reasons-card__first {
    margin-left: 5vw;
  }

  .reasons-card__last::after {
    left: 5vw;
  }
}

/* IMPORTANT */

.important {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.important--card {
  width: calc(50% - 48px);
  text-align: center;
}

.important--image {
  width: 100%;
  max-width: 500px;
}

.important--description {
  width: calc(50% - 48px);
}

.title__important {
  margin-bottom: 24px;
}

.important--link {
  color: var(--green);
  display: block;
  text-decoration: underline;
  width: fit-content;
  font-weight: 600;
  font-size: 24px;
}

@media (max-width: 955px) {
  .important {
    flex-direction: column-reverse;
  }

  .important--card {
    width: 100%;
  }

  .important--description {
    margin-bottom: 30px;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .important--link {
    font-size: 16px;
  }
}

/* APPLICATION */

.application {
  padding-top: 130px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.application--visual {
  width: calc(50% - 50px);
  position: relative;
  z-index: -1;
  min-width: 120px;
}

.application--image {
  width: 100%;
}

.application--description {
  width: calc(50% - 35px);
}

.application--info {
  width: calc(100% + (100vw - 1128px) / 2);
  position: relative;
  right: calc((100vw - 1128px) / 2);
  box-shadow: 0px 24px 40px rgba(4, 64, 21, 0.04);
}

.application--content {
  border-radius: 0 12px 12px 0;
  margin-top: 30px;
  padding: 40px 15px 30px calc((100vw - 1128px) / 2);
  background-color: var(--green);
  font-size: 24px;
  color: #ffffff;
}

.application--links {
  display: flex;
  margin-top: 30px;
}

.application--store-links {
  padding-left: 30px;
}

.application--store-link {
  margin-bottom: 10px;
}

@media (max-width: 1136px) {
  .application--info {
    width: calc(100% + 16px);
    right: 16px;
  }

  .application--content {
    padding: 40px 15px 30px 16px;
  }
}

@media (max-width: 900px) {
  .application--info {
    width: 80vw;
  }

  .application--links {
    flex-direction: column;
    align-items: center;
  }

  .application--store-links {
    padding: 0;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 750px) {
  .application--content {
    font-size: 20px;
  }
}

/* FORM */

.form {
  padding: 100px 0;
}

.form--title-block {
  background-color: var(--green);
  border-radius: 12px;
  color: #ffffff;
  text-align: center;
  padding: 40px 15px 150px 15px;
}

.form--subtitle {
  font-size: 24px;
  color: #e2e2e2;
  font-weight: 400;
  margin-top: 40px;
}

.form--block {
  position: relative;
  top: -100px;
  width: 80%;
  margin: 0 auto;
  padding: 80px 100px;
  box-shadow: 0px 0px 24px rgba(14, 41, 82, 0.1),
    inset 8px 8px 24px rgba(0, 0, 0, 0.7);
  border-radius: 12px;
  border: 1px solid var(--blue-dark);
  background: #0f1822;
  color: #ffffff;
}

.form--input {
  width: 100%;
  padding: 12px 0;
}

.form--input input[type="text"] {
  width: 100%;
  font-size: 16px;
  padding: 20px 25px;
  color: #ffffff;
  background-color: #2a3440;
  border-radius: 5px;
  border: none;
}

.form--input input[type="text"]:focus {
  outline: none;
}

.form--input input[type="checkbox"] {
  margin-right: 10px;
}

.btn__form {
  margin: 30px auto 0 auto;
  width: 300px;
  max-width: 100%;
}

@media (max-width: 822px) {
  .form--block {
    padding: 40px 40px;
  }
}

@media (max-width: 690px) {
  .form--block {
    width: 100%;
    padding: 40px;
  }
}

@media (max-width: 466px) {
  .form--block {
    padding: 15px;
  }
}

/* FOOTER */
.footer {
  background-color: var(--blue-dark);
  padding: 30px 0 20px 0;
  color: #919191;
  font-size: 14px;
}
